<mat-form-field>
  <mat-label>Title</mat-label>
  <input matInput [(ngModel)]="dialogData.task.title" />
</mat-form-field>

<mat-form-field>
  <mat-label>Description</mat-label>
  <textarea matInput [(ngModel)]="dialogData.task.description"></textarea>
</mat-form-field>

<div mat-dialog-actions>
  <button
    mat-raised-button
    [mat-dialog-close]="{ task: dialogData.task }"
  >
    OK
  </button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button
    mat-raised-button
    *ngIf="dialogData.enableDelete"
    aria-label="Delete"
    id="deleteRaised"
    [mat-dialog-close]="{ task: dialogData.task, delete: true }"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
