.item {
  margin-bottom: 10px;
  cursor: pointer;
}
mat-card {
  background-color: rgb(11 11 12);
  color: #7efcf6;
  margin-bottom: 10px;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 150ms ease-out;
}

.task-done {
  margin: 8px 20px 0 0;
  transform: scale(1.5);
}

.task-label {
  font-size: 16px;
  cursor: pointer;
  margin-top: 6px;
}

.task-label-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.edit:hover {
  cursor: default;
}
mat-card:hover {
  color: #d4f6fd;
  border: 1px solid #06d8d7;
  left: 0.1em;
  box-shadow: 0.5em 0.5em 0.5em -0.4em var(--text-neon-blue);
 
}
mat-card .selected {
  background-color: rgb(70 63 81);
  color: white;
}
.btn-edit {
  margin-left: auto;
}
