mat-toolbar {
  margin-bottom: 20px;
  background-color: var(--bg-btn);
}
#todo,
#done {
  border-color: var(--text-dark);
  color: var(--text-dark);
  width: 375px;
}

mat-toolbar > span {
  margin-left: 10px;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
}

.list {
  min-height: 60px;
  border-radius: 4px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}
.btn-add {
  width: 200px;
  height: 52px;
}
