mat-toolbar {
  margin-bottom: 20px;
  background-color: rgb(13 46 66 / 50%);
  border-top: 1px solid rgb(10 69 109);
  border-bottom: 1px solid rgb(10 69 109);
  color: var(--text-neon-blue);
}
#todo,
#done {
  background-color: rgb(13 46 66 / 50%);
  width: 375px;
}

mat-toolbar > span {
  margin-left: 10px;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
}

.list {
  min-height: 60px;
  border-radius: 4px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}
.btn-add {
  width: 200px;
  height: 52px;
  letter-spacing: 1px;
  display: "inline-block";
  outline: "none";
  border: 1px solid #06d8d7;
  margin: 0;
  padding: 8px 16px;
  user-select: none;
  vertical-align: middle;
  font-size: 14;
  color: #7efcf6;
  background-color: #001a1a;
  transition: color 150ms ease-out;
  transform: box-shadow 150ms linear;
}
.btn-add:hover {
  color: #d4f6fd;
  box-shadow: 0 0.5em 0.5em -0.4em var(--text-neon-blue);
}
.title {
  color: var(--text-neon-blue);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 150ms ease-out;
  text-shadow: 0 0 20px #09f;
  cursor: default;
  user-select: none;
}

.msg-success {
  background-color: green;
}
.spacer {
  flex: 1 1 auto;
}
@media screen and (max-width: 500px) {
  button.btn-add {
    width: 30px !important;
    height: 42px;
    font-size: 12;
    overflow: hidden;
    padding: 0 0 0 8px;
  }
}
