<div *ngIf="msgService.messages.length">
    <div>    <h2>Messages</h2> <button class="clear" (click)="msgService.clearAll()">Clear All</button></div>
   
   
   
        <mat-list>
            <mat-list-item *ngFor="let message of msgService.messages">
                  
                <span> {{message}} </span> <button class="clear" (click)="msgService.clear(message)">
                    <span class="material-icons">
                        delete_outline
                        </span>
                </button>
             
            </mat-list-item>
          </mat-list>

  

</div>