/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Saira:700");
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
:root {
  --bg-dark: rgb(48 50 61);
  --bg-light: hsl(0, 0%, 95%);
  --text-neon-blue: rgb(0 231 255);
  --bg-btn: rgb(91 146 255);
}
html {
  box-sizing: border-box;
  font-size: 100%;
}
html,
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  background: #000;
  height: 100vh;
  font-family: "Saira", sans-serif;
  font-weight: 700;
  background: url("./assets/bg-stars-2560.jpg") center bottom no-repeat;
}
.mat-dialog-container {
  background-color: #001a1a;
  color: #7efcf6;
}

.mat-form-field-underline {
  background-color: var(--text-dark);
}
.mat-form-field-label {
}
.mat-raised-button {
  letter-spacing: 1px;
  display: "inline-block";
  outline: "none";
  border: 1px solid #06d8d7 !important;
  margin: 0;
  padding: 8px 16px;
  user-select: none;
  vertical-align: middle;
  font-size: 14;
  color: #7efcf6;
  background-color: #001a1a;
  transition: color 150ms ease-out;
}
.mat-raised-button:hover,
.mat-raised-button:focus {
  color: #d4f6fd;

  box-shadow: 0 0.5em 0.5em -0.4em var(--text-neon-blue);
  transform: translateY(-0.25em);
}
.mat-form-field-label {
}
.mat-checkbox-inner-container {
  background-color: rgb(13 46 66 / 50%);
}
.mat-checkbox-layout {
  background-color: rgb(13 46 66 / 50%);
  border: 1px solid rgb(10 69 109);
  color: var(--text-neon-blue);
}
.mat-checkbox-checked
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background {
  background-color: #001a1a;
}
label {
  color: #7efcf6 !important;
  letter-spacing: 0.75px;
}

.mat-input-element {
  caret-color: var(--text-neon-blue);
}
.mat-form-field-underline {
  /*change color of underline*/
  background-color: var(--text-neon-blue) !important;
}
.mat-form-field-ripple {
  background-color: var(--text-neon-blue);
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--text-neon-blue) !important;
}
